// Global Colors
$colors: (
  // Color raw
  raw: ("default": "8, 10, 11",
    "white": "255, 255, 255",
    "black": "0, 0, 0",
    "red": "228, 66, 66",
    "blue": "0, 64, 52",
    "dark-blue": "57, 100, 208",
    "purple": "122, 65, 216",
    "green": "14, 194, 129",
    "green-d2": "11, 155, 103",
    "grey01": "249, 249, 251",
    "grey02": "246, 247, 248",
    "grey03": "237, 238, 240",
    "grey04": "220, 221, 223",
    "grey05": "203, 204, 206",
    "grey06": "165, 166, 167",
    "grey07": "108, 109, 111",
    "grey08": "72, 73, 74",
    "grey09": "43, 44, 45",
    "grey10": "29, 30, 31",
    "grey800": "248, 248, 248",
    "secondary-yellow": "243, 225, 57",
    "secondary-darkblue": "57, 100, 208",
    "secondary-orange": "236, 150, 48",
    "secondary-pink": "209, 111, 188",
    "secondary-purple": "122, 65, 216",
    "orange16": "228, 144, 66",
    "theme-black": "5, 29, 31",
    "pureWhite": #ffffff,
  ),


  // Multi color
  bg: ("primary": #004034,
    "primary-light": #00503f,
    "primary-dark": #003027,
    "secondary": #c6d984,
    "secondary-light": #d4e59a,
    "secondary-dark": #b8cc6e,
    "tertiary": #f2cd5c,
    "optional": #f2cd5c,
    "optional-light": #f5d87c,
    "optional-dark": #efc23c,
    "off-white": #f9f7f3,
    "gold": #d4af37,
    "rich-gold": #9e7e23,
    "silver": #c0c0c0,
    "platinum": #e5e4e2,
    "light-gray": #f8f9fa,
    "medium-gray": #e9ecef,
    "type-default": #080a0b,
    "scandal": #C5FBE1,
    "mimosa": #F0FDCD,
    "selago": #F1D1FC,
    "selago-smooth": #F9EAFE,
    "old-lace": #FDEDDD,
    "tidal": #E6FDA8,
    "perano": #B4AAF3,
    "aquamarine": #8FF6B8,
    "polar": #D8F6F4,
    "atomic-tangerine": #FBA574,
    "screamin-green": #7AF189,
    "btn-bg": #A4F4F9,
    "medium-purple": #8C52D6,
    "ecru-white": #F9F8F0,
    "woodsmoke": #121418,
    "spring-wood": #F9F6F1,
    "tundora": #4E4E4E,
    "shamrock": #4ADE80,
    "firefly": #0F2C31,
    "cerise-pink": #e41c42,
    "orange": #fe6c4e,
    "transparent": transparent,
    "white": #ffffff,
    "yellow": #f2cd5c,
    "red": #e10b0b,
    "green": #09a84a,
    "purple": #753dd0,
    "blue": #0276b8,
    "pink": #c469e5,
    "dark-navi":#0a1222,
    "theme-black": #051d1f,
    "dark1": #333333,
  ),

  // Multi color rgb
  bg-raw: ("primary": "0, 64, 52",
    "primary-light": "0, 80, 63",
    "primary-dark": "0, 48, 39",
    "secondary": "198, 217, 132",
    "secondary-light": "212, 229, 154",
    "secondary-dark": "184, 204, 110",
    "tertiary": "242, 205, 92",
    "optional": "242, 205, 92",
    "optional-light": "245, 216, 124",
    "optional-dark": "239, 194, 60",
    "off-white": "249, 247, 243",
    "gold": "212, 175, 55",
    "rich-gold": "158, 126, 35",
    "silver": "192, 192, 192",
    "platinum": "229, 228, 226",
    "scandal": "197, 251, 225",
    "mimosa": "240, 253, 205",
    "selago": "241, 209, 252",
    "selago-smooth": "249, 234, 254",
    "old-lace": "253, 237, 221",
    "tidal": "230, 253, 168",
    "perano": "180, 170, 243",
    "aquamarine": "143, 246, 184",
    "polar": "216, 246, 244",
    "atomic-tangerine": "261, 165, 116",
    "screamin-green": "122, 241, 137",
    "btn-bg": "164, 244, 249",
    "medium-purple": "140, 82, 214",
    "ecru-white": "249, 248, 240",
    "woodsmoke": "18, 20, 24",
    "spring-wood": "249, 246, 241",
    "tundora": "78, 78, 78",
    "shamrock": "74, 222, 128",
    "firefly": "15, 44, 49",
    "cerise-pink": "228, 28, 66",
    "orange": "254, 108, 78",
    "yellow": "242, 205, 92",
    "red": "255, 11, 11",
    "green": "9, 168, 74",
    "purple": "117, 61, 208",
    "blue": "2, 118, 184",
    "pink": "196, 105, 229",
    "dark-navi":"10, 18, 34",
    "theme-black": "5, 29, 31",
    "dark1": "51, 51, 51",
  ),
);

// Light Mode
$light_mode_color: (
  theme: ("primary": "0, 64, 52",
    "primary-hover": "0, 64, 49",
    "secondary": "198, 217, 132",
    "tertiary": "242, 205, 92",
    "logo-nav": "255, 255, 255",
  ),

  alert: ("fill-success": "14, 194, 129",
    "type-success": "11, 155, 103",
    "error": "228, 66, 66",
  ),

  type: ("default": "8, 10, 11",
    "mid1": "63, 64, 65",
    "mid2": "72, 73, 74",
    "mid3": "108, 109, 111",
    "light": "165, 166, 167",
    "inverse1": "255, 255, 255",
    "inverse2": hsla(0, 0%, 100%, 0.85),
    "nav-tag-selected": "0, 64, 52",
    "primary": "0, 64, 52",
    "primary-hover": "0, 64, 49",
    "success": "11, 155, 103",
    "error": "228, 66, 66",
  ),

  heading: ("default": "8, 10, 11",
    "primary": "0, 64, 52",
    "primary-hover": "0, 64, 49",
    "secondary": "198, 217, 132",
    "tertiary": "242, 205, 92",
  ),

  fill: ("canvas": "249, 249, 251",
    "canvas02": "237, 238, 240",
    "canvas-body": "255, 255, 255",
    "content-prime": "255, 255, 255",
    "content-alternate": "246, 247, 248",
    "primary": "0, 64, 52",
    "contrast": #000,
    "pageoverlay": rgba(0, 0, 0, 0.85),
    "fade-to-contrast": linear-gradient(180deg, transparent, #000),
    "fade-to-content": linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff),
    "error": "228, 66, 66",
    "success": "14, 194, 129",
    "primary-gradient": linear-gradient(209.89deg, #007760, #014538 72.99%),
    "navbar": "0, 64, 52",
    "hsb": "3, 152, 220",
    "hsb-scorecell": "255, 255, 255",
    "subnav": "255, 255, 255",
    "skeleton-light": "246, 247, 248",
    "skeleton-mid": "230, 231, 233",
    "joyride": rgba(0, 0, 0, 0.72),
    "highlight": "0, 64, 52",
    "gradient": linear-gradient(180deg, #000, #050505 18.23%, #161616 63.54%, #181a1c),
    "thead-primary": "242, 242, 242",
    "gray-bg01": "244, 245, 248",
    "gray-bg02": "236, 242, 252",
    "gray-bg03": "236, 242, 252",
    "light-gray": "248, 249, 250",
    "medium-gray": "233, 236, 239",
    "gray-100": "241, 241, 241",
    "gray-200": "242, 242, 242",
    "gray-300": "243, 243, 243",
    "gray-400": "244, 244, 244",
    "gray-500": "245, 245, 245",
    "gray-600": "246, 246, 246",
    "gray-700": "247, 247, 247",
    "gray-800": "248, 248, 248",
    "gray-900": "249, 249, 249",
    "pricing": "247, 247, 247",
  ),

  fill-nav: ("hover": "3, 152, 220",
    "fade-right-primary": linear-gradient(270deg, #03a9f4, rgba(0, 64, 52, 0.27) 87.5%),
    "fade-left-primary": linear-gradient(270deg, rgba(0, 64, 52, 0.27), #03a9f4 87.5%),
    "fade-right-contrast": linear-gradient(270deg, #1d1e1f, rgba(29, 30, 31, 0.27) 87.5%),
    "fade-left-contrast": linear-gradient(270deg, rgba(29, 30, 31, 0.27), #1d1e1f 87.5%),
    "fade-right-canvas": linear-gradient(270deg, #f9f9fb 40.56%, rgba(249, 249, 251, 0) 87.5%),
    "fade-left-canvas": linear-gradient(270deg, rgba(249, 249, 251, 0), #f9f9fb 51.95%),
    "fade-right": linear-gradient(270deg, #fff 46.35%, hsla(0, 0%, 100%, 0)),
    "fade-left": linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff 57.29%),
  ),

  icon:("primary": "0, 64, 52",
    "default": "43, 44, 45",
    "inverse": "255, 255, 255",
    "mid": "108, 109, 111",
    "light": "165, 166, 167",
    "hover": "3, 152, 220",
    "success": "14, 194, 129",
    "success-hover": "11, 155, 103",
    "error": "228, 66, 66",
    "error-hover": "185, 53, 53",
  ),

  line:("default": "237, 238, 240",
    "default-translucent": rgba(0, 0, 0, 0.1),
    "contrast": "0, 0, 0",
    "inverse": "108, 109, 111",
    "inverse-translucent": hsla(0, 0%, 100%, 0.2),
    "inverse-contrast": "255, 255, 255",
    "nav": "255, 255, 255",
    "primary": "0, 64, 52",
  ),

  ui-stroke:("default": "203, 204, 206",
    "default-hover": rgba(0, 64, 52, 0.2),
    "contrast": "43, 44, 45",
    "primary": "0, 64, 52",
  ),

  ui-fill: ("default": "255, 255, 255",
    "default-hover": rgba(0, 64, 52, 0.1),
    "primary": "0, 64, 52",
    "primary-hover": "0, 64, 49",
    "translucent": rgba(0, 64, 52, 0.1),
    "translucent-hover": rgba(0, 64, 52, 0.2),
    "alternate": "237, 238, 240",
    "mid": "203, 204, 206",
    "nav-tag-selected": "255, 255, 255",
    "blue-highlight": "230, 246, 254",
    "success": "14, 194, 129",
    "success-hover": "11, 155, 103",
    "success-translucent": rgba(14, 194, 129, 0.12),
    "error": "228, 66, 66",
    "error-hover": "185, 53, 53",
    "error-translucent": rgba(228, 66, 66, 0.12),
    "standout": #000,
    "default-translucent": rgba(0, 0, 0, 0.1),
    "contrast": #000,
  ),

  shadow: ("default": rgba(0, 0, 0, 0.12),
    "elevated": rgba(0, 0, 0, 0.16),
    "button-primary": rgba(56, 171, 252, 0.1),
    "button-tertiary": hsla(0, 0%, 66%, 0.1),
  ),

  border: ("default": rgba(4, 18, 38, .1),
  ),
  switch: ("bg": "245, 245, 246",
  ),
  switch-circle: ("bg": "242, 205, 92",
  ),
  arrow: ("fade-right": linear-gradient(270deg, #fff 46.35%, hsla(0, 0%, 100%, 0)),
    "fade-left": linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff 57.29%),
  ),
);

// Dark Mode
$dark_mode_color: (
  theme: ("primary": "57, 112, 98",
    "secondary": "181, 213, 103",
    "tertiary": "242, 205, 92",
    "logo-nav": "0, 64, 52",
  ),

  alert: ("fill-success": "14, 194, 129",
    "type-success": "14, 194, 129",
    "error": "228, 66, 66",
  ),

  type: ("default": "246, 247, 248",
    "mid1": "220, 221, 223",
    "mid2": "203, 204, 206",
    "mid3": "183, 184, 185",
    "light": "128, 129, 131",
    "inverse1": "255, 255, 255",
    "inverse2": rgba(0, 0, 0, 0.85),
    "nav-tag-selected": "255, 255, 255",
    "primary": "0, 64, 52",
  ),

  heading: ("default": "246, 247, 248",
    "primary": "0, 64, 52",
    "secondary": "0, 64, 52",
    "tertiary": "242, 205, 92",
  ),

  fill: ("canvas": "0, 0, 0",
    "canvas02": "0, 0, 0",
    "canvas-body": "0, 0, 0",
    "content-prime": "29, 30, 31",
    "content-alternate": "43, 44, 45",
    "primary": "0, 64, 52",
    "contrast": rgba(53, 186, 246, 0.3),
    "pageoverlay": rgba(0, 0, 0, 0.85),
    "fade-to-contrast": linear-gradient(180deg, transparent, #000),
    "fade-to-content": linear-gradient(180deg, rgba(29, 30, 31, 0), #1d1e1f),
    "error": "228, 66, 66",
    "success": "14, 194, 129",
    "primary-gradient": linear-gradient(209.89deg, #007760, #014538 72.99%),
    "navbar": "29, 30, 31",
    "hsb": "29, 30, 31",
    "hsb-scorecell": "43, 44, 45",
    "subnav": "0, 0, 0",
    "skeleton-light": "43, 44, 45",
    "skeleton-mid": "72, 73, 74",
    "joyride": rgba(72, 73, 74, 0.88),
    "highlight": "0, 0, 0",
    "gradient": linear-gradient(180deg, #000, #050505 18.23%, #161616 63.54%, #181a1c),
    "thead-primary": "43, 44, 45",
    "gray-bg01": "29, 30, 31",
    "gray-bg02": "29, 30, 31",
    "gray-bg03": "43, 44, 45",
    "gray-100": "43, 44, 45",
    "gray-200": "43, 44, 45",
    "gray-300": "43, 44, 45",
    "gray-400": "43, 44, 45",
    "gray-500": "43, 44, 45",
    "gray-600": "43, 44, 45",
    "gray-700": "43, 44, 45",
    "gray-800": "43, 44, 45",
    "gray-900": "43, 44, 45",
    "pricing": "43, 44, 45",
  ),

  fill-nav: ("hover": rgba(53, 186, 246, 0.5),
    "fade-right-primary": linear-gradient(270deg, #1d1e1f 51.04%, rgba(29, 30, 31, 0.54)),
    "fade-left-primary": linear-gradient(270deg, rgba(29, 30, 31, 0.71), #1d1e1f 54.69%),
    "fade-right-contrast": linear-gradient(270deg, #1d1e1f, rgba(29, 30, 31, 0) 87.5%),
    "fade-left-contrast": linear-gradient(270deg, rgba(29, 30, 31, 0), #1d1e1f 87.5%),
    "fade-right-canvas": linear-gradient(270deg, #000 25.07%, rgba(0, 0, 0, 0.27) 87.5%),
    "fade-left-canvas": linear-gradient(270deg, rgba(0, 0, 0, 0.27), #000 64.71%),
    "fade-right": linear-gradient(270deg, #1d1e1f, rgba(29, 30, 31, 0)),
    "fade-left": linear-gradient(270deg, rgba(29, 30, 31, 0), #1d1e1f),
  ),

  icon:("primary": "0, 64, 52",
    "default": "203, 204, 206",
    "inverse": "255, 255, 255",
    "mid": "128, 129, 131",
    "light": "108, 109, 111",
    "hover": "48, 167, 221",
    "success": "14, 194, 129",
    "success-hover": "11, 155, 103",
    "error": "228, 66, 66",
    "error-hover": "185, 53, 53",
  ),

  line:("default": "43, 44, 45",
    "default-translucent": hsla(0, 0%, 100%, 0.2),
    "contrast": "255, 255, 255",
    "inverse": "237, 238, 240",
    "inverse-translucent": rgba(0, 0, 0, 0.1),
    "inverse-contrast": "43, 44, 45",
    "nav": "0, 64, 52",
    "primary": "0, 64, 52",
  ),

  ui-stroke:("default": "108, 109, 111",
    "default-hover": rgba(53, 186, 246, 0.5),
    "contrast": "203, 204, 206",
    "primary": "0, 64, 52",
  ),

  ui-fill: ("default": "29, 30, 31",
    "default-hover": rgba(53, 186, 246, 0.2),
    "primary": "0, 64, 52",
    "primary-hover": "0, 64, 49",
    "translucent": rgba(53, 186, 246, 0.2),
    "translucent-hover": rgba(53, 186, 246, 0.3),
    "alternate": "43, 44, 45",
    "mid": "108, 109, 111",
    "nav-tag-selected": "0, 64, 52",
    "blue-highlight": "36, 77, 95",
    "success": "14, 194, 129",
    "success-hover": "11, 155, 103",
    "error": "228, 66, 66",
    "error-hover": "185, 53, 53",
    "standout": #0398dc,
    "default-translucent": hsla(0, 0%, 100%, 0.15),
    "contrast": #2b2c2d,
    "menu":"7, 59, 58",
  ),

  shadow: ("default": rgba(0, 0, 0, 0.56),
    "elevated": rgba(0, 0, 0, 0.76),
    "button-primary": rgba(56, 171, 252, 0.1),
    "button-tertiary": hsla(0, 0%, 66%, 0.1),
  ),

  border: ("default": rgba(255, 255, 255, 0.1),
  ),
  switch: ("bg": "45, 44, 53",
  ),
  switch-circle: ("bg": "184, 204, 110",
  ),
  arrow: ("fade-right": linear-gradient(270deg, #1d1e1f, rgba(29, 30, 31, 0)),
    "fade-left": linear-gradient(270deg, rgba(29, 30, 31, 0), #1d1e1f),
  ),
);