@use "../abstracts" as *;

/*---------------------------------
/*  2.4 breadcrumb
---------------------------------*/

// Breadcrumb style
.breadcrumb-wrapper {
  @include prelative;
  overflow: hidden;
  z-index: 9;
  @include background;

  &::before {
    @include before;
    background: rgba(0, 0, 0, 0.70);
  }

  &.cover-bg {
    @include prelative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .page-heading {
    @include prelative;
    padding-block: 10.625rem;
    z-index: 9;
    text-align: center;

    @include respond-below($max-md) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      padding-block: 5.625rem;
    }

    h1 {
      @include prelative;
      @include color-raw-white;
      font-size: 64px;
      z-index: 9;
      font-weight: 700;

      @include respond-below ($max-sm) {
        font-size: 44px;
      }
    }

    .breadcrumb-items {
      display: inline-flex;
      justify-content: center;
      margin-top: 20px;
      gap: 10px;
      justify-content: center;

      @include respond-below ($max-sm) {
        margin-top: 15px;
      }

      li {
        @include color-raw-white;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;

        a {
          @include color-raw-white;
          @include transition(all 0.4s ease-in-out);

          &:hover {
            @include color-theme-primary;
          }

          i {
            @include color-theme-secondary;
            margin-inline-end: 5px;
          }
        }

        i {
          @include color-raw-white;
        }
      }
    }
  }
}